.error-text {
    color: red;
}

a {
    color: #0056b3 !important;
    cursor: pointer;
}

h2 {
    color: darkblue;
}

.btn {
    margin-right: 10px;
}

button:disabled {
    cursor: not-allowed;
}

table {
    border: 1px solid #ddd;
    margin-top: 30px;

    th, td {
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;        
        border-top: none !important;
    }
}

.show-blocker {
    .bg-div {
        background: grey;
        height: 100%;
        width: 100%;
        z-index: 2;
        opacity: 0.4;
        position: absolute;
        display: flex;
        top: 0;
        justify-content: center;
    }

    span {
        position: absolute;
        top: 50%;
        z-index: 3;
        left: 50%;
    }
}

.close {
    outline: none;
}